/* Spans etc. that need to look like links */
.linklike {
    color: #727272;
    text-decoration: none;
    cursor: pointer;
}
.linklike:hover {
    color: #77963d;
} 
 
.x-tree-node-collapsed .icon-store:before {
content: "\f07a" !important;
}

.x-tree-node .icon-store:before {
content: "\f07a" !important;
}

.custom-close-btn {
	left: 540px !important;
	top: -13px !important;
}