/**
 * @package moxycart
 *
 * Customize the MODX Resource Tree
 */

#moxycart_header a,
#moxycart_canvas a,
.moxycart_nav_item a {
  color: #727272;
  text-decoration: none;
}

#moxycart_header a:hover,
#moxycart_canvas a:hover,
.moxycart_nav_item a:hover {
color: #77963d;
}

/**
 * CMPs
 */
#moxycart_canvas {
    background: #fff;
    border: 1px solid #999999;
    margin: 0px 10px 0px;
    padding-bottom: 20px; 
}

.moxycart_canvas_inner {
    padding: 20px 20px 0 20px;
}

h2.moxycart_cmp_heading {
    margin-bottom: 0px;
}

#moxycart_nav {
    list-style-type:none;
    padding:0;
    list-style-type: none;
    padding: 0;
    float: right;
    margin: 40px 10px 5px 10px;
    font-size: 12px;
}

.moxycart_nav_item {
    display:inline;
    padding: 10px;
}

.moxycart_nav_item a.current {
  font-weight: bold;
}
/* not sure if we need this... */
.moxycart_nav_home {

}

#moxycart_footer {
    text-align: center;
    display: block;
    margin-top: 20px; 
}
.moxycart_donation_link {

}
.moxycart_bug_link {

}
.moxycart_wiki_link {

}

#moxycart_copyright {
    color: #727272;
    margin-top: 6px;
    font-style: italic;
}

#moxycart_buttons {
    width: 100%; 
}
#moxycart_buttons ul:before,
#moxycart_buttons ul:after {
    content: " ";
    display: table;
}
#moxycart_buttons ul:after {
    clear: both;
}
#moxycart_buttons ul {
    width: 102%;
    margin: -1% 0 0 -1%;
    /* clearfix */
    *zoom: 1;
}
#moxycart_buttons ul li {
    display: table;
    position: relative;
    float: left;
    width: 32%;
    margin: 0;
    padding: 1% 0 0 1%;
}
#moxycart_buttons ul li a {
    display: table-cell;
    height: 65px;
    width: 100%;
    position: relative;
    padding: 0px 15px 0px 70px;
    text-decoration: none;
    vertical-align: middle;
    /* MODX 2.x.x Manager Button Styles */
    font: bold 11px tahoma, verdana, helvetica, sans-serif;
    color: #53595f;
    background: url(../images/modx-theme/form/button-bg.svg) repeat-x scroll 0 bottom rgba(222,222,222,1);
    background:-moz-linear-gradient(center bottom,#dedede 0%,#ffffff 100%) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#dedede));
    background:-webkit-linear-gradient(center bottom,#dedede 0%,#ffffff 100%);
    background:-o-linear-gradient(center bottom,#dedede 0%,#ffffff 100%);
    background:-ms-linear-gradient(center bottom,#dedede 0%,#ffffff 100%); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#dedede,GradientType=0);
    background:linear-gradient(center bottom,#dedede 0%,#ffffff 100%);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    border: 1px solid gray;
    border-color: #CACACA #C0C0C0 #AAA;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.2) 0 0 1px;
    -o-box-shadow:rgba(0,0,0,0.2) 0 0 1px;
    box-shadow:rgba(0,0,0,0.2) 0 0 1px;
}
#moxycart_buttons ul li a:hover {
    background:-moz-linear-gradient(center bottom,#cecece 0%,#ffffff 100%) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#cecece));
    background:-webkit-linear-gradient(center bottom,#cecece 0%,#ffffff 100%);
    background:-o-linear-gradient(center bottom,#cecece 0%,#ffffff 100%);
    background:-ms-linear-gradient(center bottom,#cecece 0%,#ffffff 100%); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#cecece,GradientType=0);
    background:linear-gradient(center bottom,#cecece 0%,#ffffff 100%);
}
#moxycart_buttons ul li a span {
    display: block;
    line-height: 1.4;
}
#moxycart_buttons ul li a span.headline {
    font-size: 12px;
}
#moxycart_buttons ul li a span.subline {
    font-weight: normal;
}
#moxycart_buttons ul li a span.icon {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.product-option .icon {
    background: url(../images/product-option.png) no-repeat;
}

.setting .icon {
    background: url(../images/setting.png) no-repeat;
}

.reviews .icon {
    background: url(../images/reviews.png) no-repeat;
}

.assets .icon {
    background: url(../images/assets.png) no-repeat;
}

.fields .icon {
    background: url(../images/fields.png) no-repeat;
}

.product .icon {
    background: url(../images/product.png) no-repeat;
}

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 7px 8px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

  color: #53595f;
  font: bold 11px tahoma,verdana,helvetica,sans-serif;
  text-shadow: 0 1px 0 #fcfcfc;
}

.moxycart-btn {
  background-color: #658F1A !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#658F1A", endColorstr="#658F1A");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#658F1A), to(#658F1A));
  background-image: -moz-linear-gradient(top, #658F1A, #658F1A);
  background-image: -ms-linear-gradient(top, #658F1A, #658F1A);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #658F1A), color-stop(100%, #658F1A));
  background-image: -webkit-linear-gradient(top, #658F1A, #658F1A);
  background-image: -o-linear-gradient(top, #658F1A, #658F1A);
  background-image: linear-gradient(#658F1A, #658F1A);
  border-color: #617a2d #617a2d hsl(80, 46%, 29%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}

.delete-btn {
  background-color: hsl(0, 77%, 31%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e22121", endColorstr="#8b1212");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e22121), to(#8b1212));
  background-image: -moz-linear-gradient(top, #e22121, #8b1212);
  background-image: -ms-linear-gradient(top, #e22121, #8b1212);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e22121), color-stop(100%, #8b1212));
  background-image: -webkit-linear-gradient(top, #e22121, #8b1212);
  background-image: -o-linear-gradient(top, #e22121, #8b1212);
  background-image: linear-gradient(#e22121, #8b1212);
  border-color: #8b1212 #8b1212 hsl(0, 77%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-cancel {
  margin-left: 10px;
}

select,
textarea,
input[type="text"],
.input {
    min-height: 20px;
    padding: 3px;
    border: 1px solid;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background-color: #fbfbfb;
    border-color: #CCCCCC;
}

.input-full {
    width: 100%;
}


.input-half {
    width: 50%;
}

.input-small {
    width: 30%;
}

/**** Alerts*****/
.danger {
    margin: 10px;
    padding: 5px;
    background: #ffddde;
    border: 1px solid #9b0004;
    color: #9b0004;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.success {
    margin: 10px;
    padding: 5px;
    background: #dae8bf;
    border: 1px solid #64812e;
    color: #4e6424;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

label,
.textlabel {
    width: 150px;
    font-weight: bold;
    color: #707070;
    margin-bottom: 0;
    display: block;
    float: left;
}
.description-txt {
    margin-left: 150px;
    font-size: 12px;
    font-style: italic;
    color: #727272;
    margin-bottom: 10px;
}

#config {
    margin-left: 150px;
}

table {
    width: 100%;
}
table thead a {
    color: #fff;
}

table thead a:hover {
    color: #fff;
    text-decoration: underline;
}

.unmodifier {
  background: #5f5f5f;
}

.modifier {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  background: #888888;
  text-align: center;
  font-size: 12px !important;
}

.modifier-th {
  background: #888888 !important;
}


.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

#custom_fields_form label {
  display: inline !important;
}

#pagination {
  margin: 15px 0px;
}

#pagination a,
#pagination span.linklike,
#pagination span {
  padding: 3px 6px;
  width: 30px;
  text-align: center;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  color: #53595f;
  margin: 0px 2px;
  background: #fff;
  font-weight: normal;
}

#pagination span {
  background: #cccfd2;
  font-weight: bold;
}

.page-count {
  margin-top: 15px !important;
}

.page-count,
.displaying-page {
  margin: 5px 0px;
  font-size: 12px;
  color: #636a70;
}

hr {
  margin-left: 0px !important;
}

.ui-sortable tr:hover {
  cursor: all-scroll;
}


.product-option-wrap label {
  display: inline;
}

.product-option-wrap select {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0px;
}

.product-option-wrap fieldset {
  margin: 5px 0px 10px 0px;
  padding-right: 10px;
}

.product-option-wrap .parent-term-option {
  vertical-align: middle;
  margin-top: 0;
}

.term-option-wrap {
  margin-bottom: 10px;
  display: block;
}

.products-tbl tbody tr td:first-child img {
  max-width: 110px !important;
  width: 60%;
}

.ui-dialog-titlebar-close {
  background: #ddd url('../images/close-dialog.png') 4px 5px no-repeat;
  border: 1px solid #bbb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.dashboard-block #moxycart_header,
.dashboard-block #moxycart_footer {
  display: none;
}

table.products-tbl thead th {
  font-size: 12px;
  text-shadow: none !important;
  letter-spacing: 0.09em;
  font-weight:normal;
}

table.products-tbl tr:hover{
	background-color:#ececec;	
}

table.products-tbl td {
  font-size: 14px;
  border-bottom: 1px solid #ececec;
  padding-top:10px;
  padding-bottom:8px;
}

.po-fset {
  display: none;
}
/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clear:before, .clear:after,
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clear:after,
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clear,
.clearfix { zoom: 1; }